node_modules
assets/css
public/assets/css/
wp/wp-admin/
wp/wp-content/ai1wm-backups/
wp/wp-content/languages/
wp/wp-content/plugins/
wp/wp-content/upgrade/
wp/wp-content/uploads/
wp/wp-content/index.php
wp/wp-includes/
wp/wp-content/themes/twentytwentyone/
wp/wp-content/themes/twentytwentythree/
wp/wp-content/themes/twentytwentytwo/
wp/wp-content/themes/twentytwentyfour/
wp/wp-content/themes/twentytwentyfive/




