@use '../global' as *;
.u_fw_300 {
    font-weight: 300 !important;
}
.u_fw_400 {
    font-weight: 400 !important;
}
.u_fw_500 {
    font-weight: 500 !important;
}
.u_fw_600 {
    font-weight: 600 !important;
}
.u_fw_700 {
    font-weight: 700 !important;
}
.u_fw_800 {
    font-weight: 800 !important;
}
.u_fw_900 {
    font-weight: 900 !important;
}
