@use '../global' as *;

.u_d_none {
    display: none !important;
}
.u_d_inline {
    display: inline !important;
}
.u_d_inline_block {
    display: inline-block !important;
}
.u_d_block {
    display: block !important;
}
.u_d_flex {
    display: flex !important;
}

@each $key, $value in $breakpoints {
    @include mq($key) {
        .u_d_#{$key}_none {
            display: none !important;
        }
        .u_d_#{$key}_inline {
            display: inline !important;
        }
        .u_d_#{$key}_inline_block {
            display: inline-block !important;
        }
        .u_d_#{$key}_block {
            display: block !important;
        }
        .u_d_#{$key}_flex {
            display: flex !important;
        }
    }
}
