@use 'sass:math';
@use './function' as *;
@use './breakpoints' as *;

$fontnoto: 'Noto Sans JP', sans-serif;
$fontjost: 'Jost', sans-serif;
$fontkrona: 'Krona One', sans-serif;

:root {
    --fontnoto: 'Noto Sans JP', sans-serif;
    --fontkrona: 'Krona One', sans-serif;
    --fontjost: 'Jost', sans-serif;
}
