@use '../global' as *;
@for $i from 1 through 35 {
    $delay: $i * 0.1s;
    [data-delay='#{$delay}'] {
        transition-delay: $delay;
    }
}
.js_inview[data-interaction='1s'] {
    transition-duration: 1s;
}
.js_inview[data-interaction='1.5s'] {
    transition-duration: 1.5s;
}
.js_inview[data-interaction='2s'] {
    transition-duration: 2s;
}
.js_inview {
    opacity: 0;
    transition-property: opacity, transform;
    transition-timing-function: ease-out;
    transition-duration: 1s;
}

.fadeup {
    transform: translate3d(0, 50px, 0);
}
.fadedown {
    transform: translate3d(0, -50px, 0);
}
.faderight {
    transform: translate3d(100%, 0, 0);
}
.fadeupright {
    transform: translate3d(100%, -100%, 0);
}
.fadeleft {
    transform: translate3d(-100%, 0, 0);
}
.fadeupleft {
    transform: translate3d(-100%, -100%, 0);
}
.is_show.js_inview {
    opacity: 1;
    transform: none !important;
}
